<body>
  <main>
    <h1>Clients</h1>

    <div class="test-client-links">
      <p><%= button_to 'Create a Client', new_client_path, method: :get %></p>
    </div>

    <div class="innertube">
      <h2>Clients List</h2>

      <table class="table-fill">
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>email</th>

        </tr>

        <% @clients.each do |client| %>
          <tr>
            <td><%= client.first_name %> <%= client.last_name %></td>
            <td><%= client.phone %></td>
            <td><%= client.address %></td>
            <td><%= client.city %></td>
            <td><%= client.state %></td>
            <td><%= client.zip %></td>
            <td><%= client.email %></td>
            <td><%= button_to 'Show', client_path(client), method: :get %></td>
            <td><%= button_to 'Edit', edit_client_path(client), method: :get %></td>
            <td><%= button_to 'Destroy',
                    client_path(client),
                    method: :delete,
                    data: {confirm: 'Are you sure you want to delete?'}%></td>
          </tr>
        <% end %>
      </table>
    </div>


  </main>
</body>