<body>
  <main>
  <h1>Clients#show</h1>

  <p>
    Client:<br>
    <%= @client.first_name %> <%= @client.last_name %><br>
    <%= @client.address %> <br>
    <%= @client.city %>, <%= @client.state %> <%= @client.zip %><br>


    <%= button_to 'Destroy',
                client_path(@client),
                method: :delete,
                data: {confirm: 'You sure?'} %>
  </p>



  </main>
</body>