<main>
  <p id="notice"><%= notice %></p>

  <h1>Projects</h1>

  <div class="test-client-links">
    <p><%= button_to 'Create a Project', new_project_path, method: :get %></p>
  </div>

  <div class="innertube">
    <h2>Projects List</h2>

    <table class="table-fill">
      <tr>
        <th>Project Name</th>
        <th>Identifier</th>
      </tr>

      <% @projects.each do |project| %>
        <tr>
          <td><%= project.project_name %></td>
          <td><%= project.project_identifier %></td>
          <td><%= button_to 'Show', project_path(project), method: :get %></td>
          <td><%= button_to 'Edit', edit_project_path(project), method: :get %></td>
          <td><%= button_to 'Destroy',
                            project_path(project),
                            method: :delete,
                            data: {confirm: 'Are you sure you want to delete?'} %></td>
        </tr>
      <% end %>
    </table>
  </div>

</main>